@import "tailwindcss";


@layer utilities {
    .text-glow {
      text-shadow: 0 0 6px rgba(255, 255, 255, 0.4),
                   0 0 12px rgba(255, 255, 255, 0.3);
    }
  
    .animate-glow {
      animation: text-glow 3s ease-in-out infinite;
    }
  
    @keyframes text-glow {
      0%, 100% {
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.4),
                     0 0 12px rgba(255, 255, 255, 0.3);
      }
      50% {
        text-shadow: 0 0 12px rgba(255, 255, 255, 0.8),
                     0 0 24px rgba(255, 255, 255, 0.6);
      }
    }
}
  